body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(#144f77 30%,#6c85c8 , white);
  align-items: center;
}

header {
  background-color: #144f77;
  color: white;
  text-align: center;
  padding: 20px 0;
}

header .logo {
  width: 90px;
  height: 90px;
  border-radius: 50%; 
}

header h1 {
  font-size: 24px;
  margin: 10px 0 0 0;
}

nav {
  background-color: #ffffff2e;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  border: solid 1px;
  border-color: #ffffff33;
  border-radius: 5px;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  width: 100px;
}

nav ul li a img {
  width: 100px;
  height: 105px;
}

nav ul li a span {
  margin-top: 10px;
}

nav ul li a:hover {
  background-color: #75abe9;
  color: beige;
}

footer {
  border-top: #b5b0b0 2px solid;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

footer h2 {
  margin-top: 0;
  color: #222222;
}

footer p {
  margin: 5px 0;
  color: #222222;
}

footer .redes-sociales a {
  margin: 5px;
  text-decoration: none;
  color: #222222;
}

footer .redes-sociales a:hover {
  color: #144f77;
}
